@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 15% 96%; /* #F0F8F8 */
    --foreground: 224 71% 4%;

    --card: 180 15% 96%;
    --card-foreground: 224 71% 4%;

    --popover: 180 15% 96%;
    --popover-foreground: 224 71% 4%;

    --primary: 185 30% 41%; /* #46878C */
    --primary-foreground: 0 0% 100%;

    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;

    --accent: 253 41% 29%; /* #312669 */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 185 30% 80%;
    --input: 185 30% 85%;
    --ring: 185 30% 41%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;

    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 185 30% 41%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;

    --accent: 253 41% 49%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 185 30% 30%;
    --input: 185 30% 35%;
    --ring: 185 30% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
